html {
    background-color:#000;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
}

header {
    justify-content: center;
    position: fixed;
    border-bottom: 1px solid seashell;
    height: 69px;
    width: 100%;
    background-color: black;

}

img {
    float: left;
    height: 50px;
    width: auto;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    justify-content: center;
    align-items: right;
    overflow: hidden;
    float: right;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
}

li a {
    padding: 15px;
    text-decoration: underline;
    text-align: center;
}

main {
    vertical-align: center;
}

.img {
    height: 700px;
    width: 90%;
    margin: 0 auto;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*f4sab3*_gcl_au*MTczOTk0MjU1NS4xNzM2ODc3NjY0*_ga*MjIzOTA4NTMuMTcyOTM4MTQ5MQ..*_ga_3LRZM6TM9L*MTczNzE1OTYyNC43MS4xLjE3MzcxNTk2NDMuMC4wLjA.");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

}

.title{
    vertical-align: center;
    background-color: #000;
    z-index: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
    flex-direction: column;
}

.month {
    height: auto;
    width: 1000px;
    display: inline-flex;
    vertical-align: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-top: 50px;
}

.teas {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        gap: 40px;
        padding: 20px;
      }
      
.tea-img {
        width: 300px;
        height: 200px;
        margin: 10px 0;
}


.locations {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1iucrcg*_gcl_au*MTczOTk0MjU1NS4xNzM2ODc3NjY0*_ga*MjIzOTA4NTMuMTcyOTM4MTQ5MQ..*_ga_3LRZM6TM9L*MTczNzE3Mjc3OC43NC4xLjE3MzcxNzI4MzIuMC4wLjA.);
    height: 500px;
    width: 90%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.loc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.locitem {
    height: 300px;
    width: 300px;
    opacity: 1;
    background-color: #000;
    align-items: center;
    border: #000 solid 2px;
    gap: 40px;
    margin: auto 40px;
}



footer {
    text-align: center;
    height: 200px;
    width: auto;
}

.copyright {
    text-align: left;
    padding-left: 20px;
}
